 
 {% load static %}
 <!-- Header -->
 <nav class="p-3 navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a href="{% url "home:index" %}" class="navbar-brand">
            <img src="{% static "img/logo.png" %}" alt="logo" height="40">
        </a>
        
        <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expand="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto navbar-ml">
            <a href="{% url "home:about" %}" class="nav-link">About</a>
            <a href="{% url "movies:index" %}" class="nav-link">Movies</a>
            <a href="{% url "cart:index" %}" class="nav-link">Cart</a>
            <div class="vr bg-white mx-2 d-done d-lg-block"></div>
            {% if user.is_authenticated %}
                <a href="{% url "accounts:logout" %}" class="nav-link">Logout ({{ user.username }})</a>
            {% else %}
                <a href="{% url "accounts:login" %}" class="nav-link">Login</a>
                <a href="{% url "accounts:signup" %}" class="nav-link">Sign Up</a>
            {% endif %}
        </div>
    </div>
    </div>
 </nav>
<!-- Header -->